<div class="primary-input-container mb-m <%= extraContainerClasses %>">
	<label class="primary-input-label" for="password-input"><%= label %></label>
	<input 
		id="<%= id %>"
		class="primary-input <%= extraClasses %>" 
		type="<%= type %>" 
		placeholder="<%= placeholder %>" 
	/>
</div>